@import url('https://fonts.googleapi s.com/css?family-Poppins:wght@400;600 &display-swap');
.container {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1c1c1c;
  font-family: 'poppins', Sans-Serif;
  margin: 0;
  background: url("belakang.mp4") no-repeat;
      background-size: cover;
}

.id-card {
  width: 90%;
  max-width: 350px;
  color: #fff;
  text-align: center;
  padding: 50px,35px;
  border: 1px solid rgba(225, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.id-card .content {
  padding: 40px;
  text-align: center;
}

.id-card .profile-pic {
  width: 100px;
  height: 100px;
  transform: translate(80%, 0%);
  border-radius: 50%;
  background-image: url('sarip.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(76, 104, 215, 0.5), 0 0 30px rgba(107, 91, 149, 0.5 );
  align-content: center;
}

.id-card .info h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(76, 104, 215, 0.5), 0 0 20px rgba(107, 91, 149, 0.5);
}

.id-card .info h4 {
  font-size: 18px;
  margin-top: 2px;
  color: #a3d7da;
}

.id-card .info p {
  color: #a3d7da;
  margin-bottom: 30px;
}

.id-card .links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.id-card .links a {
  color: #bdc3c7;
  font-size: 18px;
  transition: color 0.3s ease;
  text-shadow: 0 0 10px rgba(76, 104, 215, 0.5), 0 0 20px rgba(107, 91, 149, 0.5);
}

.id-card .links a:hover {
  color: #4c68d7;
}

.id-card .info p2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #a3d7da;
  text-shadow: 0 0 10px rgba(76, 104, 215, 0.5), 0 0 20px rgba(234, 255, 255, 0.5);
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.id-card .info h5 {
  font-size: 18px;
  margin-top: 2px;
  color: #a3d7da;
}

.id-card .info h6 {
  font-size: 18px;
  margin-top: 2px;
  color: #a3d7da;
}

.id-card .info h7 {
  font-size: 18px;
  margin-top: 2px;
  color: #a3d7da;
}